@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@400;500;600&display=swap");
html {
  font-size: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 9.411764705882353px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
}

@media screen and (max-width: 577px) {
  .prices__inner {
    padding-left: 10px;
    padding-right: 10px;
  }
  .container {
    max-width: 320px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.wrapper {
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #050505;
  z-index: 800;
  height: 100%;
  width: 100%;
  display: table;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
}

@media screen and (max-width: 1441px) {
  #loader {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 1025px) {
  #loader {
    width: 90px;
    height: 90px;
  }
}

@media screen and (max-width: 769px) {
  #loader {
    width: 78px;
    height: 78px;
  }
}

.line-scale-pulse-out > div {
  background-color: #700DC0;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
  animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out > div:nth-child(2),
.line-scale-pulse-out > div:nth-child(4) {
  -webkit-animation-delay: -0.4s !important;
  animation-delay: -0.4s !important;
}

.line-scale-pulse-out > div:nth-child(1),
.line-scale-pulse-out > div:nth-child(5) {
  -webkit-animation-delay: -0.2s !important;
  animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

@keyframes line-scale-pulse-out {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }
  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: 1px;
  color: #FFFFFF;
}

@media screen and (max-width: 1201px) {
  .title {
    font-size: 40px;
    line-height: 49px;
  }
}

@media screen and (max-width: 1201px) {
  .title {
    font-size: 40px;
    line-height: 49px;
  }
}

@media screen and (max-width: 781px) {
  .title {
    font-size: 32px;
    line-height: 39px;
  }
}

.header--packing .spot-1 {
  background: rgba(250, 221, 0, 0.5);
}

.header--packing .spot-3 {
  background: rgba(255, 174, 0, 0.6);
}

.header--packing .spot-4 {
  background: rgba(255, 211, 115, 0.5);
}

.spot-2 {
  position: absolute;
  width: 296.6px;
  height: 326.78px;
  right: -13px;
  top: -100.7px;
  background: rgba(0, 228, 255, 0.4);
  -webkit-filter: blur(110px);
          filter: blur(110px);
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.spot-4 {
  position: absolute;
  width: 290.33px;
  height: 319.87px;
  right: -13px;
  top: -150.19px;
  background: rgba(233, 130, 94, 0.6);
  -webkit-filter: blur(100px);
          filter: blur(100px);
  -webkit-transform: rotate(-23.73deg);
          transform: rotate(-23.73deg);
}

.spot-1 {
  position: absolute;
  width: 256px;
  height: 256px;
  left: 65px;
  top: -180px;
  background: rgba(233, 130, 94, 0.8);
  border: 1px solid #000000;
  -webkit-filter: blur(110px);
          filter: blur(110px);
}

.spot-3 {
  position: absolute;
  width: 222.48px;
  height: 245.12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 587px;
  background: rgba(255, 52, 0, 0.6);
  -webkit-filter: blur(110px);
          filter: blur(110px);
  -webkit-transform: rotate(-23.73deg);
          transform: rotate(-23.73deg);
}

@media screen and (max-width: 1441px) {
  .spot-3 {
    left: -114px;
  }
  .spot-1 {
    left: -42px;
  }
  .spot-2 {
    top: -120px;
  }
  .spot-4 {
    top: -190px;
  }
}

@media screen and (max-width: 992px) {
  .spot-2,
  .spot-4 {
    top: -60px;
    width: 173.51px;
    height: 191.17px;
    -webkit-filter: blur(100px);
            filter: blur(100px);
  }
  .spot-1 {
    top: -128px;
    left: -117px;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    width: 238px;
    height: 238px;
  }
  .spot-3 {
    width: 238.9px;
    height: 263.2px;
    left: -130px;
    top: 430px;
    -webkit-filter: blur(76px);
            filter: blur(76px);
  }
}

@media screen and (max-width: 768px) {
  .spot-1 {
    top: -61px;
    left: -17px;
    -webkit-filter: blur(76px);
            filter: blur(76px);
    width: 146px;
    height: 146px;
  }
  .spot-2,
  .spot-4 {
    top: -100px;
    -webkit-filter: blur(86px);
            filter: blur(86px);
    width: 171.03px;
    height: 188.43px;
  }
  .spot-3 {
    width: 200.24px;
    height: 220.62px;
    -webkit-filter: blur(90px);
            filter: blur(90px);
    top: 320px;
  }
}

@media screen and (max-width: 576px) {
  .spot-1 {
    top: -87px;
    left: -70px;
  }
}

.header__menu-link {
  position: relative;
}

.header--packing .header__menu-link.active::after {
  background: #FFAE00;
}

.header--packing .header__menu-link::after {
  background: #FFAE00;
}

.header__menu-link.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #FF3400;
  bottom: 0;
  left: 0;
}

.header__menu-link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #FF3400;
  bottom: 0;
  left: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: .5s;
  transition: .5s;
}

.header__menu-link:hover:after {
  width: 100%;
}

.header {
  background-color: #000;
  position: relative;
}

.header--packing .header__bottom-image {
  position: static;
  padding-top: 150px;
  padding-bottom: 64px;
}

.header--packing .header__bottom-image img {
  max-width: 495px;
}

.header--packing .header__bottom-content {
  top: 199px;
}

.header__menu {
  z-index: 200;
  top: 0;
  position: fixed;
  width: 100%;
}

.header__menu-link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.header__title span {
  font-weight: 600;
}

.header__bottom-content {
  position: absolute;
  left: 0;
  top: 180px;
}

.header__bottom-text {
  max-width: 423px;
  font-weight: 400;
  font-size: 20px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #BBB6AC;
  margin-bottom: 70px;
}

.header__bottom-text span {
  font-weight: 600;
}

.header__bottom-image {
  z-index: 99;
  position: relative;
  top: 140px;
}

.header__button-box {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.header__button {
  position: relative;
  width: 81px;
  height: 73px;
}

.header__button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__bottom-inner {
  position: relative;
}

@media screen and (max-width: 1399px) {
  .header--packing .header__bottom-image {
    padding-top: 140px;
    padding-bottom: 55px;
  }
  .header--packing .header__bottom-image img {
    max-width: 424px;
  }
}

@media screen and (max-width: 1199px) {
  .header--packing .header__bottom-image {
    padding-top: 133px;
    padding-bottom: 18px;
  }
  .header--packing .header__bottom-image img {
    max-width: 424px;
  }
  .header--packing .header__bottom-content {
    top: 174px;
  }
  .header__menu-link {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
  }
  .header__title {
    font-size: 40px;
    line-height: 137.8%;
  }
  .header__bottom-text {
    font-size: 18px;
    line-height: 137.8%;
  }
  .header__bottom-image {
    top: 120px;
  }
  .header__button-box {
    font-size: 20px;
    line-height: 137.8%;
  }
}

@media screen and (max-width: 991px) {
  .header {
    min-height: 650px;
  }
  .header--packing .header__bottom-image {
    padding-top: 182px;
    padding-bottom: 10px;
  }
  .header--packing .header__bottom-image img {
    max-width: 326px;
  }
  .header--packing .header__bottom-content {
    top: 160px;
  }
  .header--packing .header__button-box span {
    max-width: 200px;
  }
  .header__bottom-image {
    top: 240px;
  }
  .logo {
    max-width: 80px;
  }
  .header__bottom-text {
    max-width: 332px;
  }
}

@media screen and (max-width: 767px) {
  .header--packing .header__bottom-image {
    padding-top: 161px;
    padding-bottom: 27px;
  }
  .header--packing .header__bottom-image img {
    max-width: 246px;
  }
  .header--packing .header__bottom-content {
    top: 116px;
  }
  .header--packing .header__button-box span {
    max-width: 170px;
  }
  .header__menu-link {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }
  .logo {
    max-width: 66px;
  }
  .header {
    min-height: 500px;
  }
  .header__bottom-image {
    top: 200px;
  }
  .header__title {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .header__bottom-text {
    max-width: 310px;
    font-size: 14px;
    margin-bottom: 25px;
  }
  .header__bottom-content {
    top: 116px;
  }
  .header__button-box {
    font-size: 14px;
  }
}

@media screen and (max-width: 601px) {
  .header__menu-link {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (max-width: 576px) {
  .header__bottom-content {
    top: 134px;
  }
  .header {
    min-height: 720px;
  }
  .header--packing .header__bottom-image {
    padding-top: 400px;
    padding-bottom: 0px;
  }
  .header--packing .header__bottom-image img {
    max-width: 260px;
  }
  .header--packing .header__bottom-content {
    top: 116px;
  }
  .header--packing .header__button-box span {
    max-width: 170px;
  }
  .header__title {
    max-width: 250px;
    margin-bottom: 15px;
  }
  .header__bottom-text {
    max-width: 274px;
  }
  .header__bottom-image {
    top: 420px;
  }
}

.slider__number.active {
  font-weight: 400;
  font-size: 40px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.slider__strip.active {
  width: 40px;
  height: 2px;
  background-color: #ffffff;
}

.slider {
  background: #1A1A1A;
  height: 100vh;
  position: relative;
}

.slider--packing .slider__numbers .spot {
  background: rgba(255, 174, 0, 0.5);
}

.slider__numbers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 13px;
          column-gap: 13px;
  bottom: 32px;
}

.slider__numbers .spot {
  position: absolute;
  background: rgba(255, 52, 0, 0.6);
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: rotate(-80.43deg);
          transform: rotate(-80.43deg);
  width: 127.98px;
  height: 246.32px;
  left: 12%;
}

.slider__strip {
  z-index: 120;
  width: 17px;
  height: 1px;
  background: #DBCCCC;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__number {
  z-index: 120;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #DBCCCC;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider__inner {
  position: relative;
}

.slider__title {
  top: 45px;
  z-index: 99;
  position: absolute;
}

.slider__slide {
  height: 100vh;
}

.slider__slide--first {
  background: url("../assets/slider/first-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide--second {
  background: url("../assets/slider/second-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide--third {
  background: url("../assets/slider/third-slide.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1199px) {
  .slider__numbers {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .slider .spot {
    width: 112.33px;
    height: 216.2px;
  }
  .slider__number {
    font-size: 18px;
  }
  .slider__number.active {
    font-size: 35px;
  }
  .slider__strip {
    width: 17px;
  }
  .slider__strip.active {
    width: 40px;
  }
}

@media screen and (max-width: 767px) {
  .slider__number {
    font-size: 16px;
  }
  .slider__number.active {
    font-size: 28px;
  }
}

@media screen and (max-width: 575px) {
  .slider .spot {
    width: 108.32px;
    height: 208.48px;
  }
  .slider__number {
    font-size: 20px;
  }
  .slider__number.active {
    font-size: 30px;
  }
}

.prices__box-spot--first {
  z-index: 3;
  position: absolute;
  width: 172.01px;
  height: 189.51px;
  left: 288px;
  top: 379.21px;
  -webkit-filter: blur(82px);
          filter: blur(82px);
  -webkit-transform: rotate(-23.73deg);
          transform: rotate(-23.73deg);
}

.prices__box-spot--second {
  z-index: 2;
  position: absolute;
  width: 171.77px;
  height: 189.24px;
  left: 255px;
  top: 377.21px;
  background: #111111;
  -webkit-filter: blur(54px);
          filter: blur(54px);
  -webkit-transform: rotate(-23.73deg);
          transform: rotate(-23.73deg);
}

.prices--packing .prices__box--standart .prices__box-price {
  color: #FFD373;
}

.prices--packing .prices__box--standart .prices__box-spot--first {
  background: rgba(255, 211, 115, 0.85);
}

.prices--packing .prices__box--standart::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #FFD373);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices--packing .prices__box--business .prices__box-price {
  color: #FFAE00;
}

.prices--packing .prices__box--business .prices__box-spot--first {
  background: rgba(255, 174, 0, 0.8);
}

.prices--packing .prices__box--business::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #FFAE00);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices--packing .prices__box--premium .prices__box-price {
  color: #00E4FF;
}

.prices--packing .prices__box--premium .prices__box-spot--first {
  background: rgba(0, 228, 255, 0.8);
}

.prices--packing .prices__box--premium::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #00E4FF);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices {
  background-color: #000;
  padding-top: 88px;
  padding-bottom: 145px;
}

.prices__title {
  margin-bottom: 51px;
}

.prices__box {
  overflow: hidden;
  border-radius: 20px;
  border-image-slice: 1;
  position: relative;
  background-image: linear-gradient(206.1deg, #1A1A1A 38.17%, rgba(26, 26, 26, 0.977429) 60.78%, rgba(0, 0, 0, 0) 98.34%);
  padding-left: 65px;
  padding-top: 32px;
  padding-bottom: 75px;
  position: relative;
  background-image: linear-gradient(206.1deg, #1A1A1A 38.17%, rgba(26, 26, 26, 0.977429) 60.78%, rgba(0, 0, 0, 0) 98.34%);
  padding-left: 65px;
  padding-top: 32px;
  padding-bottom: 75px;
}

.prices__box--standart::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #E9825E);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices__box--business::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #FF3400);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices__box--premium::before {
  border-radius: 20px;
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(60deg, #1a1a1a, #00E4FF);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  overflow: hidden;
}

.prices__box-img {
  position: absolute;
  right: 0;
}

.prices__box--standart .prices__box-price {
  color: #E9825E;
}

.prices__box--standart .prices__box-spot--first {
  background: rgba(233, 130, 94, 0.8);
}

.prices__box--business .prices__box-price {
  color: #FF3400;
}

.prices__box--business .prices__box-spot--first {
  background: rgba(255, 52, 0, 0.8);
}

.prices__box--premium .prices__box-price {
  color: #00E4FF;
}

.prices__box--premium .prices__box-spot--first {
  background: rgba(0, 228, 255, 0.8);
}

.prices__box-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #BBB6AC;
}

.prices__box-services {
  margin-bottom: 95px;
}

.prices__box-services li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 17px;
          column-gap: 17px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #BBB6AC;
}

.prices__box-services li:not(:last-child) {
  margin-bottom: 10px;
}

.prices__box-price {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 1px;
  margin-bottom: 66px;
}

.prices__box-contact {
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.prices__box-contact a {
  z-index: 100;
}

.prices__box-name {
  display: block;
  margin-bottom: 12px;
}

.prices__box-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.prices__box-button {
  padding-top: 5px;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  padding-left: 30px;
}

.prices__box-button:hover .prices__box-arrow {
  -webkit-animation-name: moveToRight;
          animation-name: moveToRight;
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.prices__box-button:active .prices__box-circle {
  top: 1px;
  position: relative;
}

@-webkit-keyframes moveToRight {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  51% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes moveToRight {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  51% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@media screen and (max-width: 1399px) {
  .prices {
    padding-bottom: 154px;
  }
  .prices__box-spot--second {
    left: 236px;
    top: 362.21px;
    -webkit-filter: blur(54px);
    filter: blur(60px);
  }
  .prices__box-spot--first {
    left: 239px;
    top: 391.21px;
    -webkit-filter: blur(82px);
    filter: blur(84px);
  }
}

@media screen and (max-width: 1199px) {
  .prices {
    padding-top: 80px;
    padding-bottom: 102px;
  }
  .prices__title {
    margin-bottom: 45px;
  }
  .prices__box {
    padding-top: 42px;
    padding-left: 56px;
    padding-bottom: 57px;
  }
  .prices__box-name {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
  }
  .prices__box-price {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }
  .prices__box-services {
    margin-bottom: 80px;
  }
  .prices__box-services svg {
    width: 13px;
    height: 10px;
  }
  .prices__box-services li {
    -webkit-column-gap: 11px;
            column-gap: 11px;
  }
  .prices__box-services span {
    z-index: 20;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  .prices__box-contact {
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .prices__box-contact span {
    z-index: 20;
    font-size: 16px;
    line-height: 137.8%;
  }
  .prices__box-spot--first {
    left: 201px;
    top: 382.21px;
  }
  .prices__box-spot--second {
    left: 90px;
    top: 317.21px;
  }
}

@media screen and (max-width: 991px) {
  .prices__box:first-child {
    margin-bottom: 40px;
  }
  .prices__box:nth-child(2) {
    margin-bottom: 40px;
  }
  .prices {
    padding-top: 50px;
    padding-bottom: 105px;
  }
  .prices__title {
    margin-bottom: 25px;
  }
  .prices__box {
    padding-top: 48px;
    padding-left: 36px;
    padding-bottom: 81px;
  }
  .prices__box-name {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 1px;
  }
  .prices__box-price {
    font-size: 35px;
    line-height: 43px;
    letter-spacing: 1px;
    margin-bottom: 55px;
  }
  .prices__box-services {
    margin-bottom: 101px;
  }
  .prices__box-services li {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .prices__box-services span {
    z-index: 20;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .prices__box-contact {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .prices__box-contact span {
    font-size: 20px;
    line-height: 1px;
  }
  .prices__box-spot--first {
    left: 201px;
    top: 382.21px;
  }
  .prices__box-spot--second {
    left: 90px;
    top: 317.21px;
  }
}

@media screen and (max-width: 767px) {
  .prices {
    padding-top: 53px;
    padding-bottom: 65px;
  }
  .prices__box:first-child {
    margin-bottom: 27px;
  }
  .prices__box:nth-child(2) {
    margin-bottom: 27px;
  }
  .prices__box {
    padding-top: 42px;
    padding-left: 21px;
    padding-bottom: 39px;
  }
  .prices__box-arrow {
    width: 35px;
  }
  .prices__box-name {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
  }
  .prices__box-price {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 42px;
  }
  .prices__box-services {
    margin-bottom: 31px;
  }
  .prices__box-services li {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .prices__box-services span {
    font-size: 14px;
    line-height: 17px;
  }
  .prices__box-contact {
    -webkit-column-gap: 4px;
            column-gap: 4px;
  }
  .prices__box-contact span {
    font-size: 16px;
    line-height: 0.5px;
  }
  .prices__box-button {
    padding-left: 18px;
  }
  .prices__box-spot--first {
    left: 201px;
    top: 382.21px;
  }
  .prices__box-spot--second {
    left: 90px;
    top: 317.21px;
  }
}

@media screen and (max-width: 575px) {
  .prices {
    padding-top: 65px;
    padding-bottom: 70px;
  }
  .prices__box:first-child {
    margin-bottom: 30px;
  }
  .prices__box:nth-child(2) {
    margin-bottom: 30px;
  }
  .prices__title {
    margin-bottom: 40px;
  }
  .prices__box {
    padding-top: 40px;
    padding-left: 23px;
    padding-bottom: 67px;
  }
  .prices__box-arrow {
    width: 40px;
  }
  .prices__box-price {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 60px;
  }
  .prices__box-services {
    margin-bottom: 82px;
  }
  .prices__box-services li {
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .prices__box-services li svg {
    width: 10px;
    height: 8px;
  }
  .prices__box-contact {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .prices__box-button {
    padding-left: 18px;
  }
  .prices__box-spot--first {
    left: 201px;
    top: 382.21px;
  }
  .prices__box-spot--second {
    left: 90px;
    top: 317.21px;
  }
}

.contacts--packing input:focus:not([type=submit]),
.contacts--packing textarea:focus {
  outline: none;
  border-bottom: 2px solid #FFAE00 !important;
}

.contacts {
  padding-bottom: 97px;
  background-color: #000;
}

.contacts__title {
  margin-bottom: 36px;
}

.contacts__image {
  padding-top: 44px;
}

.contacts .form__button {
  margin-left: 34px;
}

.contacts input,
.contacts textarea {
  width: 100%;
  color: #fff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  outline: none;
  padding-bottom: 8px;
  background-color: inherit;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #C9C8C8;
  -webkit-transition: .5s;
  transition: .5s;
}

.contacts input::-webkit-input-placeholder,
.contacts textarea::-webkit-input-placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #665E5E;
}

.contacts input:-ms-input-placeholder,
.contacts textarea:-ms-input-placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #665E5E;
}

.contacts input::-ms-input-placeholder,
.contacts textarea::-ms-input-placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #665E5E;
}

.contacts input::placeholder,
.contacts textarea::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #665E5E;
}

.contacts input:focus::-webkit-input-placeholder,
.contacts textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts input:focus:-ms-input-placeholder,
.contacts textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.contacts input:focus::-ms-input-placeholder,
.contacts textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.contacts input:focus::placeholder,
.contacts textarea:focus::placeholder {
  color: transparent;
}

.contacts input:focus:not([type=submit]),
.contacts textarea:focus {
  outline: none;
  border-bottom: 2px solid #FF3400;
}

.contacts textarea {
  resize: none;
}

.contacts .form__prebutton {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 137.8%;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.contacts .form__button {
  position: relative;
  width: 66px;
  height: 75px;
  background-color: inherit;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.contacts .form__button-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.contacts .form__button-blure {
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  width: 51.89px;
  height: 57.17px;
  background: rgba(0, 228, 255, 0.6);
  -webkit-filter: blur(60px);
          filter: blur(60px);
  -webkit-transform: rotate(-23.73deg);
          transform: rotate(-23.73deg);
}

@media screen and (max-width: 1199px) {
  .contacts input,
  .contacts textarea {
    font-size: 18px;
    line-height: 22px;
  }
  .contacts input::-webkit-input-placeholder,
  .contacts textarea::-webkit-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .contacts input:-ms-input-placeholder,
  .contacts textarea:-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .contacts input::-ms-input-placeholder,
  .contacts textarea::-ms-input-placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .contacts input::placeholder,
  .contacts textarea::placeholder {
    font-size: 18px;
    line-height: 22px;
  }
  .form__button {
    margin-left: 54px;
  }
}

@media screen and (max-width: 991px) {
  .contacts .form__prebutton {
    font-size: 18px;
    line-height: 137.8%;
  }
  .contacts .form__button {
    margin-left: 24px;
  }
  .contacts__image {
    padding-top: 34px;
  }
}

@media screen and (max-width: 767px) {
  .contacts .form__prebutton {
    font-size: 14px;
    line-height: 137.8%;
  }
  .contacts__image {
    padding-top: 34px;
  }
  .contacts input,
  .contacts textarea {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts input::-webkit-input-placeholder,
  .contacts textarea::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts input:-ms-input-placeholder,
  .contacts textarea:-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts input::-ms-input-placeholder,
  .contacts textarea::-ms-input-placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts input::placeholder,
  .contacts textarea::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
  .contacts .form__prebutton {
    font-size: 12px;
  }
  .form__button-arrow {
    width: 30px;
  }
  .contacts .form__button {
    width: 40px;
    height: 75px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 575px) {
  .contacts .form__prebutton {
    font-size: 16px;
    line-height: 137.8%;
  }
  .contacts__empty-box {
    padding: 0px;
    width: 0;
  }
  .contacts__image {
    margin-bottom: 45px;
  }
}

.form-field {
  position: relative;
}

.form-field:after {
  content: "";
  display: table;
  clear: both;
}

.contacts--packing .form-field label {
  font-family: "montserrat-light", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 24px;
  position: absolute;
  bottom: 8px;
  right: 0;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0;
  color: #FFFFFF;
  background: #FFAE00;
}

.contacts--packing .form-field label::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #FFAE00;
}

.form-field label {
  font-family: "montserrat-light", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  position: absolute;
  bottom: 10px;
  right: 0;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0;
  color: #FFFFFF;
  background: #FF3400;
}

.form-field #contactMessage-error {
  bottom: 15px;
}

.form-field label::after {
  content: "";
  position: absolute;
  left: -5px;
  top: 50%;
  margin-top: -6px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #FF3400;
}

.footer--packing .header__link::after {
  background: #FFAE00;
}

.footer__link {
  position: relative;
}

.footer__link::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background: #FF3400;
  bottom: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer__link:hover:after {
  width: 100%;
}

.footer {
  padding-bottom: 34px;
  background-color: #000;
}

.footer__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer__email {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

@media screen and (max-width: 1401px) {
  .footer {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1201px) {
  .footer {
    padding-bottom: 43px;
  }
  .footer__link {
    font-size: 18px;
    line-height: 22px;
  }
  .footer__email {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}

@media screen and (max-width: 992px) {
  .footer__link {
    display: block;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .footer__link {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 576px) {
  .footer__link {
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 781px) {
  .footer {
    padding-bottom: 34px;
  }
  .footer__link {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
  }
  .footer__email {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and (max-width: 601px) {
  .footer {
    padding-bottom: 28px;
  }
  .footer__email {
    letter-spacing: 0.02em;
  }
}

.contacts__image--packing {
  padding-top: 6px;
}

.contacts__image--packing .contacts__image-box {
  max-width: 285px;
}

@media screen and (max-width: 1199px) {
  .contacts__image--packing {
    padding-top: 6px;
  }
  .contacts__image--packing .contacts__image-box {
    max-width: 240px;
  }
}

@media screen and (max-width: 991px) {
  .contacts__image--packing {
    padding-top: 6px;
  }
  .contacts__image--packing .contacts__image-box {
    max-width: 210px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__image--packing {
    padding-top: 10px;
  }
  .contacts__image--packing .contacts__image-box {
    max-width: 180px;
  }
}

@media screen and (max-width: 575px) {
  .contacts__image--packing {
    padding-top: 0px;
  }
  .contacts__image--packing .contacts__image-box {
    margin: 0 auto;
    max-width: 216px;
  }
}
/*# sourceMappingURL=style.css.map */