@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Montserrat:wght@400;500;600&display=swap');



* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}





html {
    font-size: 20px;
    box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
    html {
        font-size: 9.411764705882353px;
    }
}

a {
    &:hover {
        color: #fff;
    }

    text-decoration: none;
}

html,
body {
    height: 100%;

}

@media screen and (max-width:577px) {
    .prices {
        &__inner {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .container {
        max-width: 320px;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
    }

}

.wrapper {
    overflow: hidden;
}

// ------------------preloader----------------------------------//
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #050505;
    z-index: 800;
    height: 120%;
    width: 100%;
    display: table;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;

    // display: table-cell;
    // text-align: center;
    // vertical-align: middle;
}

@media screen and (max-width:1441px) {
    #loader {
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width:1025px) {
    #loader {
        width: 160px;
        height: 160px;
    }
}

@media screen and (max-width:769px) {
    #loader {
        width: 120px;
        height: 120px;
    }
}

.line-scale-pulse-out>div {
    background-color: #700DC0;
    width: 4px;
    height: 35px;
    border-radius: 2px;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    display: inline-block;
    -webkit-animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
    animation: line-scale-pulse-out 0.9s -0.6s infinite cubic-bezier(0.85, 0.25, 0.37, 0.85);
}

.line-scale-pulse-out>div:nth-child(2),
.line-scale-pulse-out>div:nth-child(4) {
    -webkit-animation-delay: -0.4s !important;
    animation-delay: -0.4s !important;
}

.line-scale-pulse-out>div:nth-child(1),
.line-scale-pulse-out>div:nth-child(5) {
    -webkit-animation-delay: -0.2s !important;
    animation-delay: -0.2s !important;
}

@-webkit-keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }

    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4);
    }

    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

@keyframes line-scale-pulse-out {
    0% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }

    50% {
        -webkit-transform: scaley(0.4);
        transform: scaley(0.4);
    }

    100% {
        -webkit-transform: scaley(1);
        transform: scaley(1);
    }
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 1px;
    color: #FFFFFF;
}

@media screen and (max-width:1201px) {
    .title {
        font-size: 40px;
        line-height: 49px;
    }
}

@media screen and (max-width:1201px) {
    .title {
        font-size: 40px;
        line-height: 49px;
    }
}

@media screen and (max-width:781px) {
    .title {
        font-size: 32px;
        line-height: 39px;
    }
}

// ---------------------------header-------------------------------//
.header--packing {
    .spot-1 {
        background: rgba(250, 221, 0, 0.5);
    }

    .spot-3 {
        background: rgba(255, 174, 0, 0.6);
    }

    .spot-4 {
        background: rgba(255, 211, 115, 0.5);
    }
}

.spot-2 {
    position: absolute;
    width: 296.6px;
    height: 326.78px;
    right: -13px;
    top: -100.7px;
    background: rgba(0, 228, 255, 0.4);
    filter: blur(110px);
    -webkit-filter: blur(110px);
    transform: rotate(-30deg);
    -webkit-transform: rotate(-23.73deg);
}

.spot-4 {
    position: absolute;
    width: 290.33px;
    height: 319.87px;
    right: -13px;
    top: -150.19px;
    background: rgba(233, 130, 94, 0.6);
    filter: blur(100px);
    -webkit-filter: blur(100px);
    transform: rotate(-23.73deg);
    -webkit-transform: rotate(-23.73deg);
}

.spot-1 {
    position: absolute;
    width: 256px;
    height: 256px;
    left: 65px;
    top: -180px;
    background: rgba(233, 130, 94, 0.8);
    border: 1px solid #000000;
    filter: blur(110px);
}

.spot-3 {
    position: absolute;
    width: 222.48px;
    height: 245.12px;

    transform: translateY(-50%);
    top: 587px;
    background: rgba(255, 52, 0, 0.6);
    filter: blur(110px);
    -webkit-filter: blur(110px);
    transform: rotate(-23.73deg);
    -webkit-transform: rotate(-23.73deg);

}

@media screen and (max-width:1441px) {
    .spot-3 {
        left: -114px;
    }

    .spot-1 {
        left: -42px
    }

    .spot-2 {
        top: -120px
    }

    .spot-4 {
        top: -190px;
    }
}

@media screen and (max-width:992px) {

    .spot-2,
    .spot-4 {
        top: -60px;
        width: 173.51px;
        height: 191.17px;
        -webkit-filter: blur(100px);
        filter: blur(100px);
    }

    .spot-1 {
        top: -128px;
        left: -117px;
        -webkit-filter: blur(100px);
        filter: blur(100px);
        width: 238px;
        height: 238px;
    }

    .spot-3 {
        width: 238.9px;
        height: 263.2px;
        left: -130px;
        top: 430px;
        filter: blur(76px);
        -webkit-filter: blur(76px);
    }
}

@media screen and (max-width:768px) {
    .spot-1 {
        top: -61px;
        left: -17px;
        -webkit-filter: blur(76px);
        filter: blur(76px);
        width: 146px;
        height: 146px;
    }

    .spot-2,
    .spot-4 {
        top: -100px;
        -webkit-filter: blur(86px);
        filter: blur(86px);
        width: 171.03px;
        height: 188.43px;
    }

    .spot-3 {
        width: 200.24px;
        height: 220.62px;
        -webkit-filter: blur(90px);
        filter: blur(90px);
        top: 320px;
    }
}

@media screen and (max-width:576px) {
    .spot-1 {
        top: -87px;
        left: -70px;
    }



}

.header__menu-link {
    position: relative;
}

.header--packing {
    .header__menu-link.active::after {
        background: #FFAE00;
    }

    .header__menu-link::after {
        background: #FFAE00;
    }

}

.header__menu-link.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #FF3400;
    bottom: 0;
    left: 0;
}

.header__menu-link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: #FF3400;
    bottom: 0;
    left: 0;
    transform-origin: left;
    transition: .5s;
}

.header__menu-link:hover:after {
    width: 100%;
}

.header {
    background-color: #000;
    position: relative;

    &--packing {
        .header__button-box {

            position: relative;
            max-width: 500px;
        }

        .header__bottom-image {
            position: static;
            padding-top: 150px;
            padding-bottom: 64px;

            img {
                max-width: 495px;
            }
        }

        .header__bottom-content {
            top: 199px;
        }
    }

    &__menu {
        z-index: 200;
        top: 0;
        position: absolute;
        width: 100%;

        &-link {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 137.8%;
        letter-spacing: 1px;
        color: #FFFFFF;
        margin-bottom: 25px;

        span {
            font-weight: 600;
        }
    }

    &__bottom {

        &-content {
            position: absolute;
            left: 0;
            top: 180px;
        }


        &-text {
            font-family: 'Montserrat';
            font-style: normal;
            max-width: 423px;
            font-weight: 400;
            font-size: 20px;
            line-height: 137.8%;
            letter-spacing: 1px;
            color: #BBB6AC;
            margin-bottom: 70px;

            span {
                font-weight: 700;
            }
        }

        &-image {
            // display: flex;
            // justify-content: flex-end;
            z-index: 99;
            position: relative;
            top: 140px
        }
    }

    &__button-box {
        position: relative;
        max-width: 440px;

        .spot {
            top: -5px;
            right: 15px;
            width: 51.89px;
            height: 57.17px;
            position: absolute;
            background: rgba(0, 228, 255, 0.6);
            -webkit-filter: blur(30px);
            filter: blur(30px);
            transform: rotate(-23.73deg);
            -webkit-transform: rotate(-23.73deg);
        }

        column-gap: 27px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 137.8%;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    &__button {
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: hidden;

        &:hover {
            .header__button-arrow {
                outline: none;
                animation-name: moveToRight;
                animation-duration: 1000ms;
                animation-timing-function: ease;
            }
        }

        &:active {
            .header__button-circle {
                top: 1px;
                position: relative;
            }
        }

        position: relative;
        padding-left:28px;

        &-box {
            display: flex;
        }

        &-arrow {
            outline: none;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-40%);
        }


    }
}

.header__bottom-inner {
    position: relative;
}

@media screen and (max-width:1399px) {
    .header {
        &--packing {

            .header__bottom-image {
                padding-top: 140px;
                padding-bottom: 55px;

                img {
                    max-width: 424px;
                }
            }
        }
    }
}

@media screen and (max-width:1199px) {

    .header__button-box .spot {
        top: -5px;
        right: 42px;
    }

    .header {
        &__button-box {
            position: relative;
            max-width: 390px;
        }

        &--packing {
            .header__button-box {

                max-width: 442px;
            }

            .header__bottom-image {
                padding-top: 133px;
                padding-bottom: 18px;

                img {
                    max-width: 424px;
                }
            }

            .header__bottom-content {
                top: 174px;
            }
        }

        &__menu {
            &-link {
                font-size: 18px;
                line-height: 22px;
                text-transform: uppercase;
            }
        }

        &__title {
            font-size: 40px;
            line-height: 137.8%;
        }

        &__bottom {
            &-text {
                font-size: 18px;
                line-height: 137.8%;
            }

            &-image {
                top: 120px;
            }
        }

        &__button-box {
            font-size: 18px;
            line-height: 137.8%;
        }

    }

}

@media screen and (max-width:991px) {
    .header {

        &__button-box {
            position: relative;
            max-width: 390px;
            align-items: center;

        }

        &--packing {
            .header__button-box {
                column-gap: 62px;
                max-width: 352px;

                .spot {
                    top: 4px;
                    right: 18px;
                }
            }

            .header__bottom-image {
                padding-top: 182px;
                padding-bottom: 10px;

                img {
                    max-width: 326px;
                }
            }

            .header__bottom-content {
                top: 160px;
            }

            .header__button-box {
                span {
                    max-width: 200px;
                }
            }
        }

        min-height: 650px;

        &__bottom {
            &-image {
                top: 240px
            }
        }
    }

    .logo {
        max-width: 80px;
    }

    .header__bottom-text {
        max-width: 332px;
    }


}

// @media screen and (max-width:781px) {

// }

@media screen and (max-width:767px) {
    .header {
        &__button-box {
            max-width: 304px;

            .spot {
                top: -9px;
                right: 18px;
            }

            .header__button {
                padding-left: 19px;
            }

            .header__button-arrow {
                transform: translateY(-50%);
                width: 35px;
            }
        }

        &--packing {

            .header__button-box {
                column-gap: 27px;
                max-width: 272px;

                .spot {
                    top: -2px;
                    right: 14px;
                }
            }

            .header__bottom-image {
                padding-top: 161px;
                padding-bottom: 27px;

                img {
                    max-width: 246px;
                }
            }

            .header__bottom-content {
                top: 116px;
            }

            .header__button-box {
                span {
                    max-width: 170px;
                }
            }
        }

        &__menu {
            &-link {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.25px;
            }
        }
    }

    .logo {
        max-width: 66px;
    }

    // .header {
    //     &__menu {
    //         &-link {
    //             font-size: 18px;
    //             line-height: 22px;
    //             text-transform: uppercase;
    //         }
    //     }

    //     &__bottom {
    //     }


    .header {
        min-height: 500px;

        &__bottom {
            &-image {
                top: 200px
            }
        }

        &__title {
            font-size: 32px;
            margin-bottom: 20px;
        }

        &__bottom {
            &-text {
                max-width: 310px;
                font-size: 14px;
                margin-bottom: 25px;
            }

            &-content {
                top: 116px;
            }
        }

        &__button-box {
            font-size: 14px;
        }
    }
}

@media screen and (max-width:601px) {
    .header {
        &__menu {
            &-link {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}

@media screen and (max-width:576px) {

    .header__bottom-content {
        top: 134px;
    }

    .header {
        &--packing {
            .header__bottom-image {
                padding-top: 400px;
                padding-bottom: 0px;

                img {
                    max-width: 260px;
                }
            }

            .header__bottom-content {
                top: 116px;
            }

            .header__button-box {
                span {
                    max-width: 170px;
                }
            }
        }

        &__title {
            max-width: 250px;
            margin-bottom: 15px;
        }

        min-height: 720px;

        &__bottom {
            &-text {
                max-width: 274px;
            }

            &-image {
                top: 420px
            }
        }
    }
}

// ------------------------slider--------------------------------------//
.slider__number.active {

    font-weight: 400;
    font-size: 40px;
    line-height: 137.8%;
    letter-spacing: 1px;
    color: #FFFFFF;


}

.slider__strip.active {
    width: 40px;
    height: 2px;
    background-color: #ffffff;
}

.slider {
    &__slide {
        cursor: pointer;
    }

    .spot-2 {
        z-index: 99;
        position: absolute;
        width: 243.17px;
        height: 267.91px;
        top: 629px;
        right: -100px;
        background: rgba(0, 228, 255, 0.6);
        -webkit-filter: blur(60px);
        filter: blur(60px);
        transform: rotate(-23.73deg);
        -webkit-transform: rotate(-23.73deg);
    }

    &--packing {
        .slider__numbers {
            .spot {
                background: rgba(255, 174, 0, 0.5);
            }
        }
    }

    &__numbers {
        align-items: center;
        z-index: 99;
        position: absolute;
        display: flex;
        column-gap: 13px;
        bottom: 32px;

        .spot {
            position: absolute;
            background: rgba(255, 52, 0, 0.6);
            -webkit-filter: blur(60px);
            filter: blur(60px);
            transform: rotate(-80.43deg);
            -webkit-transform: rotate(-80.43deg);
            width: 127.98px;
            height: 246.32px;
            left: 12%;
        }
    }

    &__strip {
        z-index: 120;
        width: 17px;
        height: 1px;
        background: #DBCCCC;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.3s;
        -o-transition: height 0.3s;
        transition: height 0.3s;
    }

    &__number {
        z-index: 120;
        cursor: pointer;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 137.8%;
        letter-spacing: 1px;
        color: #DBCCCC;
        -webkit-transition: font-size 0.5s;
        -moz-transition: font-size 0.5s;
        -o-transition: font-size 0.5s;
        transition: font-size 0.5s;
    }

    background: #1A1A1A;
    height: 100vh;
    position: relative;

    &__inner {
        position: relative;
    }

    &__title {
        top: 45px;
        z-index: 99;
        position: absolute;
    }

    &__slide {
        height: 100vh;

        &--first {
            background: url("../assets/slider/first-slide.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }

        &--second {
            background: url("../assets/slider/second-slide.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }

        &--third {
            background: url("../assets/slider/third-slide.jpg");
            background-repeat: no-repeat;
            background-size: cover;

        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media screen and (max-width:1199px) {
    .slider__numbers {
        column-gap: 2px;
    }

    .slider {
        .spot-2 {
            top: 765px;
            right: -47px;
            width: 152.05px;
            height: 167.53px;
        }

        .spot {
            width: 112.33px;
            height: 216.2px;
        }

        &__number {
            font-size: 18px;
        }
    }

    .slider__number.active {
        font-size: 35px;
    }

    .slider__strip {
        width: 17px;
    }

    .slider__strip.active {
        width: 40px;
    }

}

@media screen and (max-width:767px) {
    .slider {
        &__number {
            font-size: 16px;
        }
    }

    .slider__number.active {
        font-size: 28px;
    }

}

@media screen and (max-width:575px) {
    .slider {
        .spot {
            width: 108.32px;
            height: 208.48px;
        }

        &__number {
            font-size: 20px;
        }
    }

    .slider__number.active {
        font-size: 30px;
    }
}

// ---------------------------prices-------------------------------//

.prices__box-spot--first {
    z-index: 3;
    position: absolute;
    width: 172.01px;
    height: 189.51px;
    left: 288px;
    top: 379.21px;
    -webkit-filter: blur(82px);
    filter: blur(82px);
    transform: rotate(-23.73deg);
    -webkit-transform: rotate(-23.73deg);
}



.prices__box-spot--second {
    z-index: 2;
    position: absolute;
    width: 171.77px;
    height: 189.24px;
    left: 255px;
    top: 377.21px;
    background: #111111;
    -webkit-filter: blur(54px);
    filter: blur(54px);
    transform: rotate(-23.73deg);
    -webkit-transform: rotate(-23.73deg);

}

.prices--packing {
    .prices__box {
        &--standart {
            .prices__box-price {
                color: #FFD373;
            }

            .prices__box-spot--first {
                background: rgba(255, 211, 115, 0.85);
            }


            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #FFD373);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }
        }

        &--business {
            .prices__box-price {
                color: #FFAE00;
            }

            .prices__box-spot--first {
                background: rgba(255, 174, 0, 0.8);
            }

            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #FFAE00);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }

        }

        &--premium {
            .prices__box-price {
                color: #00E4FF;
            }

            .prices__box-spot--first {
                background: rgba(0, 228, 255, 0.8);
            }

            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #00E4FF);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }


        }


    }
}

.prices--packing {
    .spot {
        background: rgba(255, 174, 0, 0.8) !important;
    }
}

.prices {
    background-color: #000;
    padding-top: 88px;
    padding-bottom: 145px;
    position: relative;

    .spot {
        z-index: 20;
        position: absolute;
        width: 213.68px;
        height: 235.42px;
        right: -126.73px;
        bottom: -105.1px;
        background: rgba(255, 52, 0, 0.9);
        -webkit-filter: blur(95px);
        filter: blur(95px);
        -webkit-transform: rotate(-156.04deg);
        transform: rotate(-156.04deg);
    }

    &__title {
        margin-bottom: 51px;
    }

    &__box {
        overflow: hidden;
        border-radius: 20px;
        border-image-slice: 1;
        position: relative;
        background-image: linear-gradient(206.1deg, #1A1A1A 38.17%, rgba(26, 26, 26, 0.977429) 60.78%, rgba(0, 0, 0, 0) 98.34%);
        padding-left: 65px;
        padding-top: 32px;
        padding-bottom: 75px;

        &--standart {
            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #E9825E);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }
        }

        &--business {
            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #FF3400);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }
        }

        &--premium {
            &::before {
                border-radius: 20px;
                content: "";
                position: absolute;
                inset: 0;
                padding: 2px;
                background: linear-gradient(60deg, #1a1a1a, #00E4FF);
                -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
                -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                overflow: hidden;

            }
        }


        &-img {
            position: absolute;
            right: 0;
        }

        position: relative;
        background-image: linear-gradient(206.1deg, #1A1A1A 38.17%, rgba(26, 26, 26, 0.977429) 60.78%, rgba(0, 0, 0, 0) 98.34%);
        padding-left: 65px;
        padding-top: 32px;

        padding-bottom: 75px;



        &--standart {
            .prices__box-price {
                color: #E9825E;
            }

            .prices__box-spot--first {
                background: rgba(233, 130, 94, 0.8);
            }


        }

        &--business {
            .prices__box-price {
                color: #FF3400;
            }

            .prices__box-spot--first {
                background: rgba(255, 52, 0, 0.8);
            }

        }

        &--premium {
            .prices__box-price {
                color: #00E4FF;
            }

            .prices__box-spot--first {
                background: rgba(0, 228, 255, 0.8);
            }


        }


        &-name {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 1px;
            color: #BBB6AC;
        }

        &-services {
            margin-bottom: 95px;

            li {
                display: flex;
                align-items: center;
                column-gap: 17px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.5px;
                color: #BBB6AC;
            }

            li:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        &-price {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 36px;
            line-height: 44px;
            letter-spacing: 1px;
            margin-bottom: 66px;

        }

        &-contact {
            z-index: 99;
            align-items: center;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 137.8%;
            letter-spacing: 1px;
            color: #FFFFFF;
            display: flex;
            column-gap: 12px;

            a {
                z-index: 100;
            }
        }

        &-name {
            display: block;
            margin-bottom: 12px;
        }

        &-arrow {
            position: absolute;
            outline: none;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &-button {
            padding-top: 5px;
            padding-bottom: 5px;
            overflow: hidden;
            position: relative;
            padding-left: 30px;
        }

        &-button:hover {
            .prices__box-arrow {
                outline: none;
                animation-name: moveToRight;
                animation-duration: 1000ms;
                animation-timing-function: ease;
            }
        }

        &-button:active {
            .prices__box-circle {
                top: 1px;
                position: relative;
            }
        }
    }
}

@keyframes moveToRight {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
    }

    51% {
        left: -100%
    }

    100% {
        left: 0;
    }
}

@media screen and (max-width:1399px) {
    .prices {
        padding-bottom: 154px;
    }

    .prices__box-spot--second {
        left: 236px;
        top: 362.21px;
        -webkit-filter: blur(54px);
        filter: blur(60px);
    }

    .prices__box-spot--first {
        left: 239px;
        top: 391.21px;
        -webkit-filter: blur(82px);
        filter: blur(84px);
    }
}

@media screen and (max-width:1199px) {
    .prices {
        padding-top: 80px;
        padding-bottom: 102px;

        &__title {
            margin-bottom: 45px;
        }

        &__box {
            padding-top: 42px;
            padding-left: 56px;
            padding-bottom: 57px;

            &-name {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.5px;
                margin-bottom: 10px;
            }

            &-price {
                font-size: 30px;
                line-height: 37px;
                letter-spacing: 1px;
                margin-bottom: 40px;
            }

            &-services {
                margin-bottom: 80px;

                svg {
                    width: 13px;
                    height: 10px;
                }

                li {
                    column-gap: 11px;
                }

                span {
                    z-index: 20;
                    font-size: 15px;
                    line-height: 18px;
                    letter-spacing: 0.5px;
                }

                ;
            }

            &-contact {
                column-gap: 2px;

                span {
                    z-index: 20;
                    font-size: 16px;
                    line-height: 137.8%;
                }
            }
        }
    }

    .prices__box-spot--first {
        left: 201px;
        top: 382.21px;
    }

    .prices__box-spot--second {
        left: 90px;
        top: 317.21px;
    }
}

@media screen and (max-width:991px) {
    .prices__box:first-child {
        margin-bottom: 40px;
    }

    .prices__box:nth-child(2) {
        margin-bottom: 40px;
    }

    .prices {
        padding-top: 50px;
        padding-bottom: 105px;

        &__title {
            margin-bottom: 25px;
        }

        &__box {
            padding-top: 48px;
            padding-left: 36px;
            padding-bottom: 81px;

            &-name {
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 1px;
            }

            &-price {
                font-size: 35px;
                line-height: 43px;
                letter-spacing: 1px;
                margin-bottom: 55px;
            }

            &-services {
                margin-bottom: 101px;

                li {
                    column-gap: 10px;
                }

                span {
                    z-index: 20;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 1px;
                }

                ;
            }

            &-contact {
                column-gap: 4px;

                span {
                    font-size: 20px;
                    line-height: 1px;
                }
            }
        }
    }

    .prices__box-spot--first {
        left: 201px;
        top: 382.21px;
    }

    .prices__box-spot--second {
        left: 90px;
        top: 317.21px;
    }
}

@media screen and (max-width:767px) {
    .prices {
        padding-top: 53px;
        padding-bottom: 65px;

        .spot {
            width: 153.68px;
            height: 265.42px;
        }
    }

    .prices__box:first-child {
        margin-bottom: 27px;
    }

    .prices__box:nth-child(2) {
        margin-bottom: 27px;
    }

    .prices {
        &__box {
            &-arrow {
                outline: none;
                width: 35px;
            }

            padding-top: 42px;
            padding-left: 21px;
            padding-bottom: 39px;

            &-name {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 1px;
            }

            &-price {
                font-size: 28px;
                line-height: 34px;
                margin-bottom: 42px;
            }

            &-services {
                margin-bottom: 31px;

                li {
                    column-gap: 10px;
                }

                span {
                    font-size: 14px;
                    line-height: 17px;
                }

            }

            &-contact {
                column-gap: 4px;

                span {
                    font-size: 16px;
                    line-height: 0.5px;
                }
            }
        }
    }

    .prices__box-arrow {
        width: 35px !important;
    }

    .prices__box-button {
        padding-left: 18px;
    }

    .prices__box-spot--first {
        left: 201px;
        top: 382.21px;
    }

    .prices__box-spot--second {
        left: 90px;
        top: 317.21px;
    }
}

@media screen and (max-width:575px) {
    .prices {
        padding-top: 65px;
        padding-bottom: 70px;
    }

    .prices__box:first-child {
        margin-bottom: 30px;
    }

    .prices__box:nth-child(2) {
        margin-bottom: 30px;
    }

    .prices {
        &__title {
            margin-bottom: 40px;
        }

        &__box {
            &-arrow {
                outline: none;
                width: 40px;
            }

            padding-top: 40px;
            padding-left: 23px;
            padding-bottom: 67px;


            &-price {
                font-size: 30px;
                line-height: 37px;
                margin-bottom: 60px;
            }

            &-services {
                margin-bottom: 82px;

                li {
                    svg {
                        width: 10px;
                        height: 8px;
                    }

                    column-gap: 20px;
                }



            }

        }
    }

    .prices__box-contact {
        column-gap: 40px;
    }

    .prices__box-button {
        padding-left: 18px;
    }

    .prices__box-spot--first {
        left: 201px;
        top: 382.21px;
    }

    .prices__box-spot--second {
        left: 90px;
        top: 317.21px;
    }
}




//----------------------------contacts-----------------------------//
.contacts--packing {

    input:focus:not([type=submit]),
    textarea:focus {
        outline: none;
        border-bottom: 2px solid #FFAE00 !important;
    }

    .contactForm__box {
        margin-left: auto;
    }

}

.contacts {
    padding-bottom: 97px;
    background-color: #000;

    // .spot-1 {
    //     position: absolute;
    //     width: 296.6px;
    //     height: 326.78px;
    //     left: -149.65px;
    //     top:250px;
    //     background: rgba(0, 228, 255, 0.4);
    //     filter: blur(200px);
    //     transform: rotate(75deg);
    // }

    &__title {
        margin-bottom: 36px;
    }

    &__image {
        padding-top: 44px
    }

    .form__button {
        -webkit-tap-highlight-color: transparent;
        margin-left: 34px;
    }

    input,
    textarea {
        width: 100%;
        color: #fff;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        outline: none;
        padding-bottom: 8px;
        background-color: inherit;
        margin-bottom: 20px;
        border: none;
        border-bottom: 2px solid #C9C8C8;
        transition: .5s;

        &::placeholder {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #665E5E;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    input:focus:not([type=submit]),
    textarea:focus {
        outline: none;
        border-bottom: 2px solid #FF3400;
    }

    textarea {
        resize: none;
    }

    .form__prebutton {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 137.8%;
        letter-spacing: 1px;
        color: #FFFFFF;
    }

    .form__button {
        padding-right: 0px;
        overflow: hidden;
        position: relative;
        background-color: inherit;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;

        &-arrow {
            outline: none;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-40%);
            -webkit-transform: translateY(-40%);

        }
    }

    .form__button-box {
        position: relative;
        max-width: 452px;

        .form__button:hover {
            .form__button-arrow {
                outline: none;
                animation-name: moveToRight;
                animation-duration: 1000ms;
                animation-timing-function: ease;
            }
        }

        .form__button:active {
            .form__button-circle {
                top: 1px;
                position: relative;
            }
        }

        .spot {
            top: 0;
            right: 30px;
            position: absolute;
            width: 51.89px;
            height: 57.17px;
            background: rgba(0, 228, 255, 0.6);
            filter: blur(34px);
            -webkit-filter: blur(34px);
            transform: rotate(-23.73deg);
            -webkit-transform: rotate(-23.73deg);
        }
    }
}

@media screen and (max-width:1199px) {


    .contacts {

        input,
        textarea {
            font-size: 18px;
            line-height: 22px;

            &::placeholder {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    .form__button {
        margin-left: 54px;
    }
}

@media screen and (max-width:991px) {
    .contacts {
        .form__prebutton {
            font-size: 18px;
            line-height: 137.8%;
        }

        .form__button-box {
            .spot {
                right: 0;
            }
        }

        .form__button {
            margin-left: 20px;
        }
    }

    .contacts__image {
        padding-top: 34px;
    }
}

@media screen and (max-width:767px) {
    .contacts {
        .form__prebutton {
            font-size: 14px;
            line-height: 137.8%;
        }
    }

    .contacts__image {
        padding-top: 34px;
    }

    .contacts {

        input,
        textarea {
            font-size: 14px;
            line-height: 17px;

            &::placeholder {
                font-size: 14px;
                line-height: 17px;
            }
        }

        .form__prebutton {
            font-size: 12px;
        }
    }

    .form__button-arrow {
        outline: none;
        width: 30px;
    }

    .contacts .form__button {
        padding-left: 14px;
    }
}

@media screen and (max-width:575px) {
    .contacts .form__button-box .spot {
        right: 15px;
    }

    .contacts {
        .form__prebutton {
            font-size: 16px;
            line-height: 137.8%;
        }
    }

    .contacts__empty-box {
        padding: 0px;
        width: 0;
    }

    .contacts__image {
        margin-bottom: 45px;
    }
}

.form-field {
    position: relative;

}

.form-field:after {
    content: "";
    display: table;
    clear: both;
}

.contacts--packing {
    .form-field label {
        font-family: "montserrat-light", sans-serif;
        font-weight: 400;
        font-size: 10px;
        line-height: 24px;
        position: absolute;
        bottom: 8px;
        right: 0;
        text-transform: uppercase;
        padding: 0 10px;
        margin: 0;
        color: #FFFFFF;
        background: #FFAE00;
        ;
    }

    .form-field label::after {
        content: "";
        position: absolute;
        left: -5px;
        top: 50%;
        margin-top: -6px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #FFAE00;

    }
}

.form-field label {
    font-family: "montserrat-light", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    bottom: 10px;
    right: 0;
    text-transform: uppercase;
    padding: 0 10px;
    margin: 0;
    color: #FFFFFF;
    background: #FF3400;
}

.form-field #contactMessage-error {
    bottom: 15px;
}

.form-field label::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #FF3400;

}




// ---------------------------footer-------------------------------//



.footer--packing {
    .footer__link::after {
        background: #FFAE00;
    }

    .footer__link.active::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #FFAE00;
        bottom: 0;
        left: 0;
    }
}

.footer__link {
    position: relative;
}

.footer__link.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #FF3400;
    bottom: 0;
    left: 0;
}

.footer__link::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 1px;
    background: #FF3400;
    bottom: 0;
    left: 0;
    transition: .5s;
}

.footer__link:hover:after {
    width: 100%;
}

.footer {
    padding-bottom: 34px;
    background-color: #000;

    &__link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__email {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: #FFFFFF;

    }
}

@media screen and (max-width:1399px) {
    .footer {
        padding-bottom: 40px;

    }

}

@media screen and (max-width:1199px) {
    .footer {
        padding-bottom: 43px;

        &__link {
            font-size: 18px;
            line-height: 22px;
        }

        &__email {
            font-size: 15px;
            line-height: 20px;
            letter-spacing: 0.01em;
        }
    }

}

@media screen and (max-width:991px) {
    .footer__link {
        display: inline-block;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:767px) {
    .footer__link {
        margin-bottom: 22px;
    }
}

@media screen and (max-width:575px) {
    .footer__link {
        margin-bottom: 16px;
    }
}

@media screen and (max-width:781px) {
    .footer {
        padding-bottom: 34px;

        &__link {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.25px;
        }

        &__email {
            font-size: 12px;
            line-height: 16px;
        }
    }

}

@media screen and (max-width:601px) {
    .footer {
        padding-bottom: 28px;

        &__email {
            letter-spacing: 0.02em;
        }
    }
}




// ---------------------------packing------------------------------//



.contacts {
    position: relative;

    .spot-1 {
        position: absolute;
        width: 296.6px;
        height: 326.78px;
        left: -200.65px;
        top: 250px;
        background: rgba(0, 228, 255, 0.4);
        -webkit-filter: blur(60px);
        filter: blur(60px);
        transform: rotate(75deg);
    }

    &__image--packing {
        padding-top: 6px;

        .contacts__image-box {
            max-width: 285px;
        }
    }
}

@media screen and (max-width:1199px) {
    .contacts {
        &__image--packing {
            padding-top: 6px;

            .contacts__image-box {
                max-width: 240px;
            }
        }
    }
}

@media screen and (max-width:991px) {
    .contacts {
        &__image--packing {
            padding-top: 6px;

            .contacts__image-box {
                max-width: 210px;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .contacts {
        .spot-1 {
            position: absolute;
            width: 196.6px;
            height: 226.78px;
            left: -123px;
        }

        &__image--packing {
            padding-top: 10px;

            .contacts__image-box {
                max-width: 180px;
            }
        }
    }
}

@media screen and (max-width:575px) {
    .contacts {
        &__image--packing {
            padding-top: 0px;

            .contacts__image-box {
                margin: 0 auto;
                max-width: 216px;
            }
        }
    }
}







.header__menu.visible-scroll-up {
    transform: translate3d(0px, 100%, 0px);
    -webkit-transform: translate3d(0px, 100%, 0px);
    -moz-transform: translate3d(0px, 100%, 0px);
    -ms-transform: translate3d(0px, 100%, 0px);
    -o-transform: translate3d(0px, 100%, 0px);
}

.header__menu.fixed-menu {
    background-color: #1a1a1a;
    position: fixed;
    top: -90px;
    padding-bottom: 5px;
    transition: transform 0.3s ease 0s;
    -webkit-transition: transform 0.3s ease 0s;
    -moz-transition: transform 0.3s ease 0s;
    -ms-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
}

.header__menu {
    transition: background-color .4s;
    backface-visibility: hidden;
    transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);

}

@media screen and (max-width:991px) {
    .header__menu.fixed-menu {
        top: -74px;
    }
}

@media screen and (max-width:767px) {
    .header__menu.fixed-menu {
        top: -64px;
    }
}